USE [ShopProjectFinal1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[isVerified] [bit] NOT NULL,
	[Admin] [bit] NOT NULL,
	[AccountStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[CartQuantity] [int] NOT NULL,
	[ProductImage] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[CartStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[CategoryStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] NOT NULL,
	[OrderDetailTotalPrice] [float] NOT NULL,
	[OrderDetailQuantity] [int] NOT NULL,
	[OrderDetailStatus] [nvarchar](max) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[OrderQuantity] [float] NOT NULL,
	[ShipperDate] [datetime2](7) NOT NULL,
	[OrderNote] [nvarchar](max) NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductImage] [nvarchar](max) NOT NULL,
	[ProductPrice] [float] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductQuantity] [int] NOT NULL,
	[ProductDetailDescription] [nvarchar](max) NOT NULL,
	[ProductBackWood] [nvarchar](max) NOT NULL,
	[ProductSideWood] [nvarchar](max) NOT NULL,
	[ProductSeries] [nvarchar](max) NOT NULL,
	[ProductOrigin] [nvarchar](max) NOT NULL,
	[ProductNeck] [nvarchar](max) NOT NULL,
	[ProductLength] [nvarchar](max) NOT NULL,
	[ProductStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/11/2024 12:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[UserStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231029054447_InitialMigration', N'5.0.17')
GO
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Email], [Password], [isVerified], [Admin], [AccountStatus]) VALUES (1, 1, N'leanhtuyenvta@gmail.com', N'Abc123', 1, 1, N'1')
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Email], [Password], [isVerified], [Admin], [AccountStatus]) VALUES (2, 3, N'thienphuc5534132@gmail.com', N'Abc123', 1, 0, N'1')
GO
INSERT [dbo].[Carts] ([CartId], [ProductID], [UserID], [ProductName], [CartQuantity], [ProductImage], [Price], [CartStatus]) VALUES (1, 6, 1, N'Samsung Galaxy Z Flip5', 1, N'B_ZFlip5-removebg-preview.png', 1120, N'0')
INSERT [dbo].[Carts] ([CartId], [ProductID], [UserID], [ProductName], [CartQuantity], [ProductImage], [Price], [CartStatus]) VALUES (2, 17, 3, N'Realme C53', 1, N'F_C53-removebg-preview.png', 286, N'0')
INSERT [dbo].[Carts] ([CartId], [ProductID], [UserID], [ProductName], [CartQuantity], [ProductImage], [Price], [CartStatus]) VALUES (3, 12, 3, N'Xiaomi 13T 5G', 1, N'D_13T-removebg-preview.png', 1000, N'0')
GO
INSERT [dbo].[Categorys] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (1, N'Taylor', N'1')
INSERT [dbo].[Categorys] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (2, N'Takamine', N'1')
INSERT [dbo].[Categorys] ([CategoryId], [CategoryName], [CategoryStatus]) VALUES (3, N'Suzuki', N'1')
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderDetailTotalPrice], [OrderDetailQuantity], [OrderDetailStatus], [OrderID], [ProductID], [UserID]) VALUES (1, 1120, 1, N'1', 1, 6, 1)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderDetailTotalPrice], [OrderDetailQuantity], [OrderDetailStatus], [OrderID], [ProductID], [UserID]) VALUES (2, 286, 1, N'1', 2, 17, 3)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderDetailTotalPrice], [OrderDetailQuantity], [OrderDetailStatus], [OrderID], [ProductID], [UserID]) VALUES (3, 1250, 1, N'1', 3, 2, 3)
GO
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [OrderQuantity], [ShipperDate], [OrderNote], [OrderStatus]) VALUES (1, 1, CAST(N'2023-11-06T17:53:16.6912448' AS DateTime2), 1, CAST(N'2023-11-11T17:53:16.6913032' AS DateTime2), N'Waiting for confirm', N'1')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [OrderQuantity], [ShipperDate], [OrderNote], [OrderStatus]) VALUES (2, 3, CAST(N'2024-10-25T12:34:35.3423692' AS DateTime2), 1, CAST(N'2024-10-30T12:34:35.3424281' AS DateTime2), N'Waiting for confirm', N'1')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [OrderQuantity], [ShipperDate], [OrderNote], [OrderStatus]) VALUES (3, 3, CAST(N'2024-10-25T13:39:29.2610298' AS DateTime2), 1, CAST(N'2024-10-30T13:39:29.2610339' AS DateTime2), N'Waiting for confirm', N'1')
GO
INSERT [dbo].[Users] ([UserID], [FullName], [Phone], [Address], [UserStatus]) VALUES (1, N'leanhtuyen', N'0909853953', N'Bac Lieu city', N'1')
INSERT [dbo].[Users] ([UserID], [FullName], [Phone], [Address], [UserStatus]) VALUES (2, N'Le Anh Tuyen', N'1111111111', N'12121212121212121212e', N'1')
INSERT [dbo].[Users] ([UserID], [FullName], [Phone], [Address], [UserStatus]) VALUES (3, N'Thien tran', N'0375710631', N'Tra Vinh city', N'1')
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categorys] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categorys] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categorys]
GO
